# ipsec.secrets - strongSwan IPsec secrets file
{{ if exists "/configs" }}
{{ range gets "/configs/*" }}
{{ .Value.remoteid }} : PSK {{ .Value.psk }}
{{- end }}
{{ else }}
{{getv "/remoteid"}} : PSK {{getv "/psk"}}
{{- end }}
