farp {

    # Whether to load the plugin. Can also be an integer to increase the
    # priority of this plugin.
    {% if load_module %}
    load = yes
    {% else %}
    load = no
    {% endif %}

}
